<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="d-flex-center">

    <form class="auth-form" [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">

      <img width="500px" src="assets/logo.png" alt="">

      <div class="gradient-input">
        <ion-label>Correo</ion-label>
        <div class="input">
          <ion-input formControlName="email" type="email" autocomplete="email" placeholder="uls@gmail.com"></ion-input>
        </div>
      </div>

      <div class="gradient-input">
        <ion-label>Contraseña</ion-label>
        <div class="input">
          <ion-input formControlName="password" type="password" placeholder="*******">
            <ion-input-password-toggle color="dark" slot="end"></ion-input-password-toggle>
          </ion-input>
        </div>
      </div>

      <p class="ion-text-end forgot-password" [class.disabled]="form.controls.email.invalid"
        (click)="form.controls.email.valid && resetPassword()">
        ¿Olvidaste tu contraseña?
      </p>

      <ion-row class="ion-padding-bottom">
        <ion-col size="12">
          <ion-button [disabled]="form.invalid || loading" class="gradient-btn" mode="ios" expand="block" type="submit">
            <ng-container *ngIf="!loading; else loadingTpl">
              Ingresar
              <ion-icon slot="end" name="log-in-outline"></ion-icon>
            </ng-container>

            <ng-template #loadingTpl>
              <ion-spinner name="crescent"></ion-spinner>
            </ng-template>
          </ion-button>
          <ion-button *ngIf="showResendButton && !emailVerified" expand="block" fill="outline" color="warning"
            (click)="resendVerificationEmail()">
            Reenviar correo de verificación
          </ion-button>
        </ion-col>
        <!-- <ion-col size="3">
          <ion-button class="gradient-btn ion-no-padding" mode="ios" expand="block">
            <ion-icon name="finger-print-outline"></ion-icon>
          </ion-button>
        </ion-col> -->
      </ion-row>

      <p> ¿No tienes cuenta? </p>
      <p>
        <ion-button color="luterana" size="medium" (click)="goToRegister()">
          Regístrate
        </ion-button>
      </p>


    </form>

  </div>


</ion-content>