<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ver Documentos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="documentos-grid">

    <ion-card class="documento-card" *ngFor="let doc of documentos">

      <img
        *ngIf="doc.imagenUrl"
        [src]="doc.imagenUrl"
        class="documento-img"
      />

      <div class="documento-body">
        <div class="documento-title">{{ doc.nombre }}</div>

        <div class="documento-desc">
          {{ doc.descripcion || 'Sin descripción' }}
        </div>

        <ion-button
          size="small"
          expand="block"
          class="boton-pdf"
          (click)="abrirPdf(doc.pdfUrl)">
          Ver PDF
        </ion-button>
      </div>

    </ion-card>

  </div>

</ion-content>
