:root {
  --ion-color-luterana: #002f6c;
  --ion-color-luterana-rgb: 0,47,108;
  --ion-color-luterana-contrast: #ffffff;
  --ion-color-luterana-contrast-rgb: 255,255,255;
  --ion-color-luterana-shade: #00285d;
  --ion-color-luterana-tint: #1a447b;
}

.ion-color-luterana {
  --ion-color-base: var(--ion-color-luterana);
  --ion-color-base-rgb: var(--ion-color-luterana-rgb);
  --ion-color-contrast: var(--ion-color-luterana-contrast);
  --ion-color-contrast-rgb: var(--ion-color-luterana-contrast-rgb);
  --ion-color-shade: var(--ion-color-luterana-shade);
  --ion-color-tint: var(--ion-color-luterana-tint);
}