<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="d-flex-center">

    <form class="auth-form" [formGroup]="form" (ngSubmit)="register()" (keypress.enter)="register()">

      <img width="120px" src="assets/shield.webp" alt="">

      <div class="gradient-input">
        <ion-label>Correo</ion-label>
        <div class="input">
          <ion-input formControlName="email" type="email" autocomplete="email" placeholder="uls@gmail.com"></ion-input>
        </div>
      </div>

      <div class="gradient-input">
        <ion-label>Contraseña</ion-label>
        <div class="input">
          <ion-input formControlName="password" type="password" placeholder="*******">
            <ion-input-password-toggle color="dark" slot="end"></ion-input-password-toggle>
          </ion-input>
        </div>
      </div>

      <div class="gradient-input">
        <ion-label>Confirmar contraseña</ion-label>
        <div class="input">
          <ion-input formControlName="confirmPassword" type="password" placeholder="*******">
            <ion-input-password-toggle color="dark" slot="end"></ion-input-password-toggle>
          </ion-input>
        </div>
      </div>

      <ion-row class="ion-padding-bottom">
        <ion-col size="12">
          <ion-button [disabled]="form.invalid || loading" class="gradient-btn" mode="ios" expand="block" type="submit">
            <ng-container *ngIf="!loading; else registerLoading">
              Registrarse
              <ion-icon slot="end" name="person-add-outline"></ion-icon>
            </ng-container>
            <ng-template #registerLoading>
              <ion-spinner name="crescent"></ion-spinner>
            </ng-template>
          </ion-button>
        </ion-col>
      </ion-row>

      <p class="ion-text-center">
        ¿Ya tienes cuenta?
        <ion-button color="luterana" size="medium" (click)="goToAuth()">
          Inicia sesión
        </ion-button>
      </p>

    </form>

  </div>

</ion-content>