@import "~swiper/swiper-bundle.min.css";

:host {
  --ion-background-color: #f0f8ff; /* color de fondo de toda la página */
}

ion-content {
  --background: #fff8ef; /* color de contenido específicamente */
}
/* en tu home.page.scss o styles.scss */
.menu-title {
  color: #000000; 
    font-size: 1.2rem;      /* Aumenta tamaño del texto */
/* negro puro */
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea los botones al inicio, no centrados */
}

.menu-btn {
  font-size: 1.2rem;      /* Aumenta tamaño del texto */
  height: 50px;            /* Botones más altos */   /* Espacio izquierdo más amplio */     /* Espacio derecho */
  color: #000000;
  align-items: start;    /* Separación entre botones */
}

.ion-button{
    color: #000000;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  gap: 10px;
}

ion-card {
  flex: 1;
  min-width: 0;
  color: white; /* Texto en blanco para resaltar */
}

ion-card img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}

/* Colores por tarjeta */
.card-red {
  background-color: #e74c3c; /* Rojo */
}

.card-green {
  background-color: #2ecc71; /* Verde */
}

.card-blue {
  background-color: #3498db; /* Azul */
}

.video-header {
  width: 100%;
  height: 400px; /* Ajusta según quieras más alto */
  overflow: hidden;
}

.video-header video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que el video cubra todo el contenedor */
}


.info-grid {
  padding: 0;
  margin: 0;
}

/* Fila sin separación entre columnas */
.tight-row {
  --ion-grid-column-padding: 0;
  margin-left: 0;
  margin-right: 0;
}

/* Columnas con padding mínimo */
.image-col, .text-col {
  padding: 0 5px; /* ajustable */
}

/* Imágenes que ocupan toda la columna */
.image-col img {
  width: 85%;
  height: auto;
  display: block;
}

/* Títulos y textos compactos */
.title {
  font-size: 1.8rem;
  margin-bottom: 5px;
  color: #000000;
}

.text {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 5px;
  color: #000000;
}

/* Opcional: ajustar texto en móviles */
@media (max-width: 767px) {
  .title {
    font-size: 1.5rem;
  }
  .text {
    font-size: 0.95rem;
  }
}

.info-grid {
  margin-top: 40px;
}

.image-col img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.text-col {
  padding: 10px 20px;
}

.benefits-list {
  list-style: none;
  padding-left: 0;
}

.benefits-list li {
  margin-bottom: 12px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.responsive-row {
  row-gap: 20px;
}







