ion-content {
  --background: #f4f6f9;
}

.boton-agregar {
  margin: 16px;
  --border-radius: 14px;
}

/* Modal general */
.light-modal {
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  // --border-radius: 16px;
  margin: auto;    /* centrado vertical */
  padding: 0;
}

/* Card interna del modal */
.modal-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Header del modal */
.modal-header ion-toolbar {
  --background: #3880ff; /* color sólido */
  --color: #000000;     /* color del texto */
  --border-width: 0;    /* quita línea inferior */
}

.modal-header ion-title {
  font-size: 18px;
  font-weight: 600;
}


/* Formulario */
.modal-form ion-item {
  --background: #f9f9f9;
  border-radius: 12px;
  margin-bottom: 12px;
  --box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

/* Inputs y textarea */
.modal-form ion-input,
.modal-form ion-textarea {
  font-size: 14px;
  color: #111;
}

/* Spinner dentro del botón */
.modal-form ion-spinner {
  margin: 0 auto;
}

/* Botón de subir documento */
.gradient-btn {
  --color: #ffffff; /* texto visible */
  font-weight: 600;
}

.gradient-btn ion-spinner {
  color: #fff;
}

// .gradient-btn {
//   background: linear-gradient(135deg, #3880ff, #4f9cff);
// }

/* Adaptativo para móviles */
@media (max-width: 480px) {
  // .light-modal {
  //   max-height: 95%;
  // }

  .modal-card {
    padding: 16px;
  }

  .modal-form ion-item {
    font-size: 13px;
  }
}

// .modal-card {
//   padding: 16px;
//   border-radius: 16px;
// }

// .modal-header {
//   font-size: 18px;
//   font-weight: bold;
//   margin-bottom: 12px;
// }

.documentos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 14px;
  padding: 14px;
}

.documento-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.documento-body {
  padding: 12px;
}

.stock {
  font-size: 13px;
  font-weight: bold;
  color: #3880ff;
}

// .light-modal {
//   --ion-background-color: #ffffff;
//   --ion-text-color: #000000;
// }